*.log
*.par
*.mk
*.json
*.state
*.used
*.step
*.har
*.lock
.fuse*
.~*

/Refere/
/Release/
/param/
/log/
/Debug/
/har/
/json/
/tests/
/NN/tests/
/NN/games/
.classpath
.project
.settings/
/game-ultimate-tictactoe/
/brutaltester/
